<div class="container ">
  <div class="row mt-3">
    <div class="col text-center ">
      <img  src="img/sasuke.jpeg" alt="Gambar guweh" width="250px" class="img-thumbnail rounded-circle">
      <h1 class="display-4 mt-3">Agung Wahyudi</h1>
      <p class="lead">Mahasiswa | Learner</p>
    </div>
  </div>
</div>